.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgEarth {
  width: 30%;
}

.imgEarth:hover {
  transform: scale(1.1, 1.1);
}

.imgSun {
  width: 50%;
}

.imgSun:hover {
  transform: scale(1.1, 1.1);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
